[Unit]
Description=1038 Sensor Hub
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/code/SensorHub2022/hub.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
